@font-face {
    font-family: 'Graphik TH';
    src: url('fonts/GraphikTH-Black.eot');
    src: url('fonts/GraphikTH-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikTH-Black.woff2') format('woff2'),
        url('fonts/GraphikTH-Black.woff') format('woff'),
        url('fonts/GraphikTH-Black.ttf') format('truetype'),
        url('fonts/GraphikTH-Black.svg#GraphikTH-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik TH';
    src: url('fonts/GraphikTH-Light.eot');
    src: url('fonts/GraphikTH-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikTH-Light.woff2') format('woff2'),
        url('fonts/GraphikTH-Light.woff') format('woff'),
        url('fonts/GraphikTH-Light.ttf') format('truetype'),
        url('fonts/GraphikTH-Light.svg#GraphikTH-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik TH';
    src: url('fonts/GraphikTH-Medium.eot');
    src: url('fonts/GraphikTH-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikTH-Medium.woff2') format('woff2'),
        url('fonts/GraphikTH-Medium.woff') format('woff'),
        url('fonts/GraphikTH-Medium.ttf') format('truetype'),
        url('fonts/GraphikTH-Medium.svg#GraphikTH-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik TH';
    src: url('fonts/GraphikTH-Regular.eot');
    src: url('fonts/GraphikTH-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikTH-Regular.woff2') format('woff2'),
        url('fonts/GraphikTH-Regular.woff') format('woff'),
        url('fonts/GraphikTH-Regular.ttf') format('truetype'),
        url('fonts/GraphikTH-Regular.svg#GraphikTH-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik TH';
    src: url('fonts/GraphikTH-Extralight.eot');
    src: url('fonts/GraphikTH-Extralight.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikTH-Extralight.woff2') format('woff2'),
        url('fonts/GraphikTH-Extralight.woff') format('woff'),
        url('fonts/GraphikTH-Extralight.ttf') format('truetype'),
        url('fonts/GraphikTH-Extralight.svg#GraphikTH-Extralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik TH';
    src: url('fonts/GraphikTH-Bold.eot');
    src: url('fonts/GraphikTH-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikTH-Bold.woff2') format('woff2'),
        url('fonts/GraphikTH-Bold.woff') format('woff'),
        url('fonts/GraphikTH-Bold.ttf') format('truetype'),
        url('fonts/GraphikTH-Bold.svg#GraphikTH-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik TH';
    src: url('fonts/GraphikTH-Thin.eot');
    src: url('fonts/GraphikTH-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikTH-Thin.woff2') format('woff2'),
        url('fonts/GraphikTH-Thin.woff') format('woff'),
        url('fonts/GraphikTH-Thin.ttf') format('truetype'),
        url('fonts/GraphikTH-Thin.svg#GraphikTH-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik TH';
    src: url('fonts/GraphikTH-Semibold.eot');
    src: url('fonts/GraphikTH-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikTH-Semibold.woff2') format('woff2'),
        url('fonts/GraphikTH-Semibold.woff') format('woff'),
        url('fonts/GraphikTH-Semibold.ttf') format('truetype'),
        url('fonts/GraphikTH-Semibold.svg#GraphikTH-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

